/* IMPORT DE LA POLICE DU LOGO */
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);

/*LOGO */
.title-achievement {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}
.navbar-brand {

}
/* BARRE DE RECHERCHE */
#custom-search-input{
    padding: 3px;
    background-color: #fff;
    margin-bottom : 10px;
}

#custom-search-input input{
    border: solid 3px #EEEEEE;
     border-radius: 6px;
    box-shadow: none;
    height: 50px;
    border-color: #eeeeee;
}

#custom-search-input button{
    margize    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

/* GENERAL */
body {
    font-family: 'Open Sans', sans-serif;
    color: #353535;
}
.content h1 {
    text-align: center;
}
.content .content-footer p {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
    color: inherit;
    font-weight: bold;
}

/*  --------------------------------------------------
    :: Table Filter
    -------------------------------------------------- */
.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}

.panel .btn-group {
    margin: 15px 0 30px;
}
.panel .btn-group .btn {
    transition: background-color .3s ease;
}
.table-filter {
    margin-top:5%;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}
.table-filter tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}
.table-filter tbody tr.selected td {
    background-color: #eee;
}

.table-filter .media-photo {
  /*  width: 35px; */

  padding: 2px 2px;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
}
.table-filter .media-body {
  padding-top: 10px;
    /*display: block; */
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}
.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}
.table-filter .media .title span.pagado {
    color: #5cb85c;
}
.table-filter .media .title span.pendiente {
    color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
    color: #d9534f;
}
.table-filter .media .summary {
    font-size: 14px;
}

/* MODAL CSS */

.center {
    margin-top:50px;
}


/* bouton modal */

.btn span.opa {
	opacity: 0;
}
.btn.active span.opa {
	opacity: 1;

}

.iconopa {
  padding: 10px
  height: 24px;
  width: 24px;
}

.aicon {

  width: 28px;
  height:auto;9
}


.modal-header-info {
    color:#eee;

    border-bottom:1px solid #eee;
    background-image:url(../images/nav/test7.jpg);
    opacity: 2;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-title-color {
  color: #fff;

  text-shadow: 1px 1px #000;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  font-weight: bold;

}

/* background navbar */

.navbar-custom {
  color: #fff;
  /* background-image: url('../images/nav/test7.jpg'); */
  background-repeat: repeat-x;
  opacity: 0.9;
  z-index:100;

}
.navbar {
  border-radius: 0px;
  border: 0px;
}

.navbar-custom a {
  color: #FFF;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
    background-color: #ffa500;
    opacity: 1;
    color: #Fff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #fff;
    color:#ffa500;
}


.dropdown-menu>li>a {
  background-color: #fff;
  color:#ffa500;
}

/* Button Expand */

.btn-expand {
  background-color: #ffa500;
}
.country {
  padding: 2px 2px;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
}

/* GROUPES EXISTANTS CSS */
.project-list {
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  margin-bottom: 16px;
  -webikt-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
    margin-top: 10px;
    border: 1px solid #eee;

}

.user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
 .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}

.project-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}
.project-list > tbody > tr > td {
  padding: 12px 8px;
  font-size: 13px;
  color: #555;

}

.project-list > tbody > tr:hover {
  color: #000;
    background-color: #fff;
}
.project-list > thead > tr:hover {
  color: #000;
    background-color: #fff;
}

.project-list > tbody > tr > td .avatar {
  width: 22px;
  border: 1px solid #ffa500;
}
.p-team img {
    width: 35px;
    height:35px;
    border-radius: 4px;
}

.progress-b, .joing {
  float: left;
  line-height: 20px;
  text-align: center;
  background-image: none;
  background-color: #ffa500;
  border-color: #ffa500;
  color: #FFFFFF;
}

.btn-follow {
  color: #fff;
  background-color: #27b6af;
  border: 1px solid #27b6af;
}

.battlenet-icon {

  height: 18px;
  width: 18px;
}
