<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand title-achievement" href="#"><span class=""><img class="aicon" src="images/Achievement_icon.png" alt="" /></span> Request Achievement</a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Account</a></li>
        <li><a href="#">Groups</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Getting Started</a></li>
                <li><a href="#">Give a tip !</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right" ng-controller="loginController" ng-model="user">
      <li ng-hide="user.battletag" class="active pull-right"> <a href="https://91.121.168.68:3001/auth/bnet"><img src="images/nav/bnet-logo.png" class="battlenet-icon"/>  Log with Battle net</a></li>
      <li ng-hide="!user.battletag" class="active pull-right"><a>{{user.battletag}}</a></li>
    </ul>
    <div class="col-sm-3 col-md-3 pull-right">

    </div>
</div>
